<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
</head>
<body>
<form enctype="multipart/form-data" method="post">
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What would you like to label the first image" name="label">
    <br>
<input type="file" size="40" name="img">
    <br>
<input type="text" size="40" placeholder="What do you want label 0 to indicate" name="indicate0">
    <br>
<input type="text" size="40" placeholder="What do you want label 1 to indicate" name="indicate1">
<div>
    <br>
    <br>
    <h1>Add the image you would like to predict</h1>
    <input type="file" size="40" name="predimg">

    <br>
    <br>
    <br>

<input type="submit" value="Train and Predict" >
</div>
</form>

</body>
</html>